@import url('https://fonts.googleapis.com/css2?family=poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: balck;
}

body {
    font-family: "Montserrat";
    text-align: center;
}

h1 h2 h3 h4 h5 h6 p {
    font-family: "Montserrat-black";
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: black;
}

span {
    font-size: .9rem;
    color: #757373;
}

h6 {
    font-size: 1.1rem;
    color: rgb(24, 24, 49);
}









/* navbar */
.assi-navbar-div {
    background-color: #232f3e;
}

.navbar {
    padding: 5px 3px 5px 3px;

}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    padding: 0;
    font-size: 1.2rem;
    font-family: "Montserrat-light";
}


.navbar-brand {

    font: Ubuntu;
    font-size: 2rem;
    font-weight: bold;
    padding: 0;
    margin-left: 6px;
}

.assi-navbar-div {
    padding: 0;
}

.home {
    padding-right: 20px;
}


/* contact form*/

input[type=text],
select,
textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical
        /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.btn{
    margin: 7% 15%;
}


#contact{
    padding: 7% 15%;
}


.row{
    background-image: linear-gradient(rgba(99, 112, 168, 0.5), rgba(81, 91, 233, 0.5)),
    url("image/1196652.webp");
    padding: 6vm 8vm;
}

/* contact-me */





footer {
    padding: 8vw;
    background-color: #232f3e;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

footer .footer-col {
    padding-bottom: 40px;
}

footer h3 {
    color: rgb(241, 240, 245);
    font-weight: 600;
    padding-bottom: 20px;
}

footer li {
    list-style: none;
    color: #7b838a;
    padding: 10px 0;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}

footer li:hover {
    color: rgb(241, 240, 245);
}

footer p {
    color: #7b838a;
}

footer .subscribe {
    margin-top: 20px;
}

footer input {
    width: 220px;
    padding: 15px 12px;
    background: #334F6C;
    border: none;
    color: #fff;
}

footer .subscribe a {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 15px;
    background-color: #fff;
    font-weight: 600;
    border-radius: 5px
}

footer .subscribe a.yellow {
    color: #fff;
    background: #FDC93B;
    transition: 0.3s ease;
}

footer .subscribe a.yellow:hover {
    color: rgb(21, 21, 100);
    background: #fff;
}

footer .copyright {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

footer .copyright {
    color: #fff;
}

footer .copyright .pro-links {
    margin-top: 10px;
}

footer .copyright .pro-link i {
    background-color: #5f7185;
    color: #fff;

}

footer .copyright .pro-link i {
    background-color: #FDC93B;
    color: #2c2c2c;
}

