@import url('https://fonts.googleapis.com/css2?family=poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body {
    font-family: "Montserrat";
    text-align: center;
}

h1 h2 h3 h4 h5 h6 p {
    font-family: "Montserrat-black";
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: black;
}

span {
    font-size: .9rem;
    color: #757373;
}

h6 {
    font-size: 1.1rem;
    color: rgb(24, 24, 49);
}

/* navigation */



/* class */

.assi-navbar-div {
    background-color: #232f3e;
}

.navbar {
    padding: 5px 3px 5px 3px;

}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    padding: 0;
    font-size: 1.2rem;
    font-family: "Montserrat-light";
}


.navbar-brand {

    font: Ubuntu;
    font-size: 2rem;
    font-weight: bold;
    padding: 0;
    margin-left: 6px;
}

.assi-navbar-div {
    padding: 0;
}



/* Home */

/*  id  */

#home {
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url("image/notes-write-fountain-pen-filler.jpg");
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

#home {
    color: #fff;
}

/* class */

.home-btn {
    margin: 0 10px;
}



/* Features */
#feature {
    padding: 2.5% 5%;

}

.foot-1 {
    padding: 3% 15% 7%;
}

.fa-2xl {
    padding: 35px 10px;
}

.feature-title {
    font-family: "Montserrat-bold";
}




/* Teacher */

#info{
padding: 3.5% 15% ;
}

#info h2{
    font-family: "Montserrat-bold";
    color: black;
    font-weight: 1rem;
    padding: 7% 15%;
}

#info h2:hover{
    color: blueviolet;
}

.info-image{
   border-radius: 100%;
   width: 60%;
   padding: 5% 5%;
}
.info-image-1{
    width: 150px;
}


/* Footer */

footer {
    padding: 8vw;
    background-color: #232f3e;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

footer .footer-col {
    padding-bottom: 40px;
}

footer h3 {
    color: rgb(241, 240, 245);
    font-weight: 600;
    padding-bottom: 20px;
}

footer li {
    list-style: none;
    color: #7b838a;
    padding: 10px 0;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}

footer li:hover {
    color: rgb(241, 240, 245);
}

footer p {
    color: #7b838a;
}

footer .subscribe {
    margin-top: 20px;
}

footer input {
    width: 220px;
    padding: 15px 12px;
    background: #334F6C;
    border: none;
    color: #fff;
}

footer .subscribe a {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 15px;
    background-color: #fff;
    font-weight: 600;
    border-radius: 5px
}

footer .subscribe a.yellow {
    color: #fff;
    background: #FDC93B;
    transition: 0.3s ease;
}

footer .subscribe a.yellow:hover {
    color: rgb(21, 21, 100);
    background: #fff;
}

footer .copyright {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

footer .copyright {
    color: #fff;
}

footer .copyright .pro-links {
    margin-top: 10px;
}

footer .copyright .pro-link i {
    background-color: #5f7185;
    color: #fff;

}

footer .copyright .pro-link i {
    background-color: #FDC93B;
    color: #2c2c2c;
}